body {
    background: #222831;
    font-family: 'Roboto';
    font-weight: 1000;
    color: white;
}

.header {
    font-size: 50px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calcDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    color: black;
    font-size: 50px;
    max-height: 130px;
}



.calculatorContainer {
    display: flex;  
    flex-direction: column;
    border: 2px solid black;
    border-radius: 25px;
    max-width: 300px;
    max-height: 500px;
    background: #00adb5;
}



.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    padding: 10px;
}

.btn {
    font-size: 20px;
    background:#30e3ca;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    min-width: 55px;
    max-width: 55px;
    margin: 2px;
}

.backspace {
    font-size: 20px;
    background:#30e3ca;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0px 10px 10px 0px;
    min-width: 55px;
    max-width: 55px;
    min-height: 130px;
}

.operator {
    font-size: 20px;
    background:lightblue;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    min-width: 55px;
    max-width: 55px;
    margin: 2px;
}

.equals {
    font-size: 20px;
    background:lightblue;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    min-width: 55px;
    max-width: 55px;
    margin: 2px;
}

.clear {
    font-size: 20px;
    white;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    min-width: 55px;
    max-width: 55px;
    margin: 2px;
}

.btn:hover {
    background: #6639a6;
}

.backspace:hover {
    background: #6639a6;

}

.operator:hover {
    background: blue;
}

.equals:hover {
    background: blue;
}

.clear:hover {
    background: lightgrey;
}

.footnotes {
    padding-top: 30px;
}
